:root {
    --field-line-color: #bbb;
    --cell-size: 30px;
    --border-width: 1px;
    --border-width-negative: calc(-1 * var(--border-width));
    --point-size: calc(var(--cell-size) - var(--border-width));
    --point-color: #eee;
}
