.field {
    background-image: linear-gradient(var(--field-line-color), transparent var(--border-width)), linear-gradient(90deg, var(--field-line-color), transparent var(--border-width));
    background-size: var(--cell-size) var(--cell-size);
    background-position: var(--border-width-negative) var(--border-width-negative);
    border: 1px solid var(--field-line-color);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.score {
    font-size: 36px;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    position: absolute;
    margin-left: 40px;
    top: 20px;
    pointer-events: none;
}

.score p {
    margin: 0 0 10px 0;
}
